.notification {
  border: 1px solid var(--main-primary-color);
  border-radius: 100px 0 0 100px;
  overflow: unset;
  color: white;
  width: 300px;
  height: 50px;
  bottom: 0;
  right: 0;
  position: fixed;
  padding: 4rem 3rem 3rem 0;
  margin-bottom: 3rem;
  font-size: larger;
  font-weight: 600;
}
