.foodCardContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  width: 285px;
}

.image {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 0 0.8rem 0.7rem;
  text-align: center;
}

.order{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderButton{
   padding: 0.8rem 1.4rem;
    margin-left: 4.5rem;
    font-size: 15px;

}