.main {
  margin: 5rem auto 0 auto;
  width: 90%;
  min-height: 70vh;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .main {
    margin: 5.5rem auto 0 auto;
  }
}
