.foodCardList {
  display: grid;
}
@media only screen and (max-width: 720px) {
  .foodCardList {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 720px) {
  .foodCardList {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 1100px) {
  .foodCardList {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (min-width: 1400px) {
  .foodCardList {
    grid-template-columns: auto auto auto auto;
  }
}

.foodCardItem {
  margin: 1rem auto;
}
