.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-light-color);
  border-radius: 0 0 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--main-dark-color);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.navbarLinkButton {
  border-radius: 30px;
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  margin-right: 0.5rem;
}

.logo {
  width: 70px;
  height: 70px;
  margin-top: 0.6rem;
}

.button {
  margin-top: 1.4rem;
}

.navbarLinkButton:hover {
  background-color: #ccc;
  box-shadow: 2px 1px 1px black;
}

@media screen and (max-width: 640px) {
  .navbarMain {
    font-size: 24px;
  }
  .logo {
    width: 57px;
    height: 57px;
    margin-top: 0.4rem;
  }
  .navbarContainer {
    margin: 0 0.8rem;
  }
  .button {
    margin-top: 0.8rem;
  }
}
