.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-light-color);
  border-radius: 0 0 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--main-dark-color);
  height: 72px;
}

.navbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -0.6rem -5rem;
}

.logo {
  width: 65px;
  height: 65px;
}

@media screen and (max-width: 640px) {
  .navbarMain {
    font-size: 25px;
  }
  .logo {
    width: 57px;
    height: 57px;
  }
  .navbarContainer {
    margin: -0.2rem 0.8rem;
    justify-content: space-between;
  }
  .navbar {
    height: 64px;
  }
}
