.totalCost {
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 0.85rem;
  font-weight: 500;
}

@media only screen and (max-width: 700px) {
  .totalCost {
    width: 95%;
  }
}
@media only screen and (min-width: 700px) {
  .totalCost {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .totalCost {
    width: 55%;
  }
}
