.footer {
  height: 130px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: var(--main-primary-color);
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerContainer {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  margin-top: 0.3rem;
  width: 120px;
  height: 120px;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 90px;
    height: 90px;
  }
  .footer {
  height: 110px;
  font-size: 14px;
  }
}
