.orderCard {
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1rem;
  background-color: var(--main-primary-color);
  color: white;
}

@media only screen and (max-width: 700px) {
  .orderCard {
    width: 90%;
    font-size: small;
    font-weight: 500;
  }
}
@media only screen and (min-width: 600px) {
  .orderCard {
    font-size: medium;
  }
}
@media only screen and (min-width: 700px) {
  .orderCard {
    width: 70%;
  }
}
@media only screen and (min-width: 980px) {
  .orderCard {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .orderCard {
    width: 40%;
  }
}

.orderItemName {
  font-weight: bold;
  display: inline;
}

.orderItemPrice {
  font-weight: bold;
  display: inline;
}
